<form id="register" action="/register" method="POST">
  <legend>Register for OSID Hackathon&nbsp;<span style="font-size:10px;">(All fields are mandatory)</span></legend>
  <label>Name</label>
  <input id='firstname' type="text" name="firstname" placeholder="First name">&nbsp;<input id='lastname' type="text" name="lastname" placeholder="Last name"><br>
  <label>Best hack <i id="hackinfo" class=icon-info-sign title='<strong>Screening Criteria</strong>' data-content="Best hack is the most important thing you have built or achieved. It could be a regex parser that can search through huge codebases in sublinear time, a webapp serving thousands of users, or something out of the blue - for instance, a code deployed in space."></i></label>
  <input id='besthack' type="text" name="hacklink" placeholder="Link to your best hack"><br>
  <textarea id='hackdesc' rows="4" class="input-xxlarge" name="hackdesc" placeholder="Describe your best hack within 120 words."></textarea>
  <label>Contact Information</label>
  <input type="text" name="e-mail" placeholder="Your e-mail address">&nbsp;<input type="text" name="cell" placeholder="A 10-digit cellphone number">
  <label>Github handle <i id='githubhandleinfo' class='icon-info-sign' data-content="You will be logging in using your github handle. Please <a href='https://github.com' target='_blank'>create</a> a github account if you don't have one."></i></label>
  <input id='githubHandle' type="text" name="githubHandle" placeholder="Github user name">
  <label>Twitter handle</label>
  <input id='twitterHandle' type="text" name="twitterHandle" placeholder="Twitter user name">
  <label>Organization</label>
  <input id='organization' type="text" name="organization" placeholder="Name of your institute">
  <label class="checkbox">
    <input type="checkbox"> I agree to the <a href='#rules'>rules for participation</a>.
  </label>
  <button type="submit" class="btn">Save</button>
</form>
