<form id="register" action="/register" method="POST">
  <legend>Register for OSID Hackathon</legend>
  <label>I am a</label>
  <select>
    <option>Developer</option>
    <option>Designer</option>
    <option>UX</option>
  </select>
  <label>Best hack</label>
  <input type="text" name="hacklink" placeholder="Link to your best hack"><br>
  <textarea rows="4" class="input-xxlarge" name="hackdesc" placeholder="Write about your best hack within 200 words"></textarea>
  <label>E-mail</label>
  <input type="text" name="e-mail" placeholder="Your e-mail address">
  <label>Github handle</label>
  <input type="text" name="githubHandle" placeholder="Github user name">
  <label>Twitter handle</label>
  <input type="text" name="twitterHandle" placeholder="Twitter user name">
  <label>Organization</label>
  <input type="text" name="organization" placeholder="Name of your institute">
  <label class="checkbox">
    <input type="checkbox"> I agree to the <a href='#rules'>rules for participation</a>.
  </label>
  <button type="submit" class="btn">Submit</button>
</form>
