extend layout
block css
  //link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/countdown/jquery.countdown.css')
block navbarTitles
  li.active
    a(href='#') Hackathon
  li
    a(href='/about') OSID Team
block content
  .row
    #topOfContent.span12(style='z-index:10;top:40px;position:fixed;')
  .row
    .span3.bs-docs-sidebar
      ul.nav.nav-list.bs-docs-sidenav(data-spy='affix',data-offset-top='200')
        li
          a(href='#about')
            i.icon-chevron-right
            | OSID Hackathon
        // li
          a(href='#announcements')
            i.icon-chevron-right
            | Important announcements
        li
          a(href='#registration')
            i.icon-chevron-right
            | Registration
        li
          a(href='#venue')
            i.icon-chevron-right
            | Venue
        // li
          a(href='#prizes')
            i.icon-chevron-right
            | Prizes        
        li
          a(href='#judges')
            i.icon-chevron-right
            | Judges
        li
          a(href='#sponsors')
            i.icon-chevron-right
            | Sponsors
        li
          a(href='#rules')
            i.icon-chevron-right
            | Rules for Participation
        li
          a(href='#discuss')
            i.icon-chevron-right
            | Discuss Hackathon
      br
      #countdown(data-spy='affix',data-offset-top='200')
      p#note.countdown(data-spy='affix',data-offset-top='200')
    .span9
      section#about
        h2 OSID Hackathon
        p(style='height:400px;') OSID presents a 24 hour hackathon for students at DA-IICT. Team up with other hackers, show us your hacking chops while we pamper you with great food and coffee! This event is basically to bring together student hackers in and around Ahmedabad. 
      // section#announcements
        p(style='height:400px;background-color:#ddd;') Foobar blog
      section#registration
        include form.html
      section#venue
        h2 Venue
        p(style='') The hackathon will be held at the DA-IICT campus.
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=DAIICT,+Gandhinagar,+Gujarat,+India&amp;aq=0&amp;oq=daiict&amp;sll=23.222806,72.657126&amp;sspn=0.082032,0.169086&amp;t=h&amp;ie=UTF8&amp;hq=DAIICT,+Gandhinagar,+Gujarat,+India&amp;ll=23.188392,72.628358&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=DAIICT,+Gandhinagar,+Gujarat,+India&amp;aq=0&amp;oq=daiict&amp;sll=23.222806,72.657126&amp;sspn=0.082032,0.169086&amp;t=h&amp;ie=UTF8&amp;hq=DAIICT,+Gandhinagar,+Gujarat,+India&amp;ll=23.188392,72.628358&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      // section#prizes
        h2 Prizes
        p(style='') We love good hacks and we love to pamper our hackers! Here are the prizes and swag we are waiting to give away: 
          .row
            .span3
              section
              h4(style='text-align:center') 1st prize
              img(src='../img/kindle.jpg',align='center')
              p(style='font-size:16px;font-color:#646464;text-align:center') A Kindle (e-reader Wi-Fi, 6” E Ink Display) to each team member
            .span3
              section
              h4(style='text-align:center') 2nd prize
              img(src='../img/aws-logo.jpg',align='center')
              p(style='font-size:16px;font-color:#646464;text-align:center') 
              | An Amazon EC2 instance free for one year to each team member
            .span3
              section
              h4(style='text-align:center') Runners up
              a(href='http://www.crossword.in/')
                img(src='../img/crossword.jpg',align='center')
              p(style='font-size:16px;font-color:#646464;text-align:center) Crossword coupons worth Rs. 1500 to each team member
      section#judges
        h2 Judges
        p(style='') Yet to be announced.
      section#sponsors
        h2 Sponsors
        p(style='') If you wish to sponsor our event for developer, entrepreneur and investor outreach and to encourage student hackers, please contact us at team@osid.in 
        | We thank our awesome sponsors for all their help. The sponsor listing will be out soon.
      section#rules
        h2 Rules for participation
          h5 Registration
          p To participate, fill in the registration form given above. Last date for registration is 20th October, 2012.

          h5 Eligibility
          p You should a student to participate in the event. No constraints on your course, stream or year.

          h5 Screening
          p The screening will be based on your best hack as mentioned in the registration form. 

          h5 Theme
          p The theme will be declared two days before the event.

          h5 Team size
          p Based on the screening the team size will be decided. Tentatively, the maximum team size will be 3. The teams will be made on the day of the hackathon.

          h5 Duration
          p This is a 24 hour hackday, starting 10:00 AM on Saturday, November 3rd.

          h5 Presentation
          p At the end of the hackday, each team has to present their hack to our judges in 10 minutes. You are required to prepare a short presentation and demo your hack. Only the work done during the hackathon can be presented. Any team presenting pre-existing work will be disqualified. Mention clearly what your hack is and if you have used pre-existing work.
      section#discuss
        h2 Contact Us
        p(style='height:400px;') For queries drop us a mail at team@osid.in .
block js
  script(type='text/javascript', src='/js/form.js')
  script(src='/countdown/jquery.countdown.js')
  script(src='/js/script.js')
