extend layout
block navbarTitles
  li.active
    a(href='#') Hackathon
  li
    a(href='/about') OSID Team
block content
  .row
    #topOfContent.span12(style='z-index:10;top:40px;position:fixed;')
  .row
    .span3.bs-docs-sidebar
      ul.nav.nav-list.bs-docs-sidenav(data-spy='affix',data-offset-top='200')
        li
          a(href='#about')
            i.icon-chevron-right
            | OSID Hackathon
        li
          a(href='#announcements')
            i.icon-chevron-right
            | Important announcements
        li
          a(href='#registration')
            i.icon-chevron-right
            | Registration
        li
          a(href='#judges')
            i.icon-chevron-right
            | Judges
        li
          a(href='#sponsors')
            i.icon-chevron-right
            | Sponsors
        li
          a(href='#rules')
            i.icon-chevron-right
            | Rules for Participation
        li
          a(href='#discuss')
            i.icon-chevron-right
            | Discuss Hackathon
    .span9
      section#about
        p(style='height:400px;background-color:#eee;') Hackathon is an event by OSID.
      section#announcements
        p(style='height:400px;background-color:#ddd;') Foobar blog
      section#registration
        include form.html
      section#judges
        p(style='height:400px;background-color:#ccc;') Judges
      section#sponsors
        p(style='height:400px;background-color:#eee;') Sponsors
      section#rules
        p(style='height:400px;background-color:#888;') Rules for Participation
      section#discuss
        p(style='height:400px;background-color:#eee;') Contact us for any queries at team@osid.in
block js
  script(type='text/javascript', src='/js/form.js')
