extend layout
block css
  //link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/countdown/jquery.countdown.css')
block navbarTitles
  li.active
    a(href='#') Hackathon
  li
    a(href='/about') OSID Team
block content
  .row
    #topOfContent.span12(style='z-index:10;top:40px;position:fixed;')
  .row
    .span3.bs-docs-sidebar
      ul.nav.nav-list.bs-docs-sidenav(data-spy='affix',data-offset-top='200')
        li
          a(href='#about')
            i.icon-chevron-right
            | OSID Hackathon
        li
          a(href='#announcements')
            i.icon-chevron-right
            | Important announcements
        li
          a(href='#registration')
            i.icon-chevron-right
            | Registration
        li
          a(href='#venue')
            i.icon-chevron-right
            | Venue
        li
          a(href='#prizes')
            i.icon-chevron-right
            | Prizes        
        li
          a(href='#judges')
            i.icon-chevron-right
            | Judges
        li
          a(href='#sponsors')
            i.icon-chevron-right
            | Sponsors
        li
          a(href='#rules')
            i.icon-chevron-right
            | Rules for Participation
        li
          a(href='#discuss')
            i.icon-chevron-right
            | Discuss Hackathon
      br
      #countdown(data-spy='affix',data-offset-top='200')
      p#note.countdown(data-spy='affix',data-offset-top='200')
    .span9
      section#about
        h2 OSID Hackathon
        p(style='height:400px;') OSID presents a 24 hour hackathon for students at DA-IICT. Team up with other hackers, show us your hacking chops while we pamper you with great food and coffee! This event is basically to bring together student hackers in and around Ahmedabad. 
      section#announcements
        p(style='height:400px;background-color:#ddd;') Foobar blog
      section#registration
        include form.html
      section#venue
        h2 Venue
        p(style='') The hackathon will be held in the DA-IICT campus.
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=DAIICT,+Gandhinagar,+Gujarat,+India&amp;aq=0&amp;oq=daiict&amp;sll=23.222806,72.657126&amp;sspn=0.082032,0.169086&amp;t=h&amp;ie=UTF8&amp;hq=DAIICT,+Gandhinagar,+Gujarat,+India&amp;ll=23.188392,72.628358&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=DAIICT,+Gandhinagar,+Gujarat,+India&amp;aq=0&amp;oq=daiict&amp;sll=23.222806,72.657126&amp;sspn=0.082032,0.169086&amp;t=h&amp;ie=UTF8&amp;hq=DAIICT,+Gandhinagar,+Gujarat,+India&amp;ll=23.188392,72.628358&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      section#prizes
        p(style='height:400px;background-color:#ccc;') Prizes
      section#judges
        p(style='height:400px;background-color:#ccc;') Judges
      section#sponsors
        p(style='height:400px;background-color:#eee;') Sponsors
      section#rules
        p(style='height:400px;background-color:#888;') Rules for Participation
      section#discuss
        h2 Contact Us
        p(style='height:400px;') For queries drop us a mail at team@osid.in .
block js
  script(type='text/javascript', src='/js/form.js')
  script(src='/countdown/jquery.countdown.js')
  script(src='/js/script.js')
