!!!5
html
  head
    title #{title} OSID Hackathon
    meta(name='google-site-verification', content='4Q8SC3sG3pNkm8zYQLJy6auqFV49yCaZaolYpZL0qcI')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/docs.css')
    block css
  body(data-spy='scroll', data-target='.bs-docs-sidebar', data-offset='50')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') OSID Hackathon
          .nav-collapse.collapse
            ul.nav
              block navbarTitles
                li
                  a(href='#') Hackathon
                li
                  a(href='/about') OSID Team
    .container(style='position:relative;min-height:440px;')
      header.jumbotron.subhead#overview
        .row
          .span3
            br
            img(src='/img/osidlogo.png',align='right')
          .span9
            h3 Hackathon by Open Source Initiatives @ DA-IICT
            p November 3<sup>rd</sup> - 4<sup>th</sup>, 2012
            .row
              .span6
                i.p(style='font-size:15px;') Meet fellow hackers, build awesome stuff.
              .span3
                .pull-right.btn.btn-large.btn-primary(style='margin-right:40px;') Particpant Login
      block content
      br
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35273579-1']);
      _gaq.push(['_setDomainName', 'osid.in']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    block js
  footer.footer 
    p(style='text-align:center;') Made with love using Node, express, jade and Mongoose
