!!!5
html
  head
    title #{title} OSID Hackathon
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/docs.css')
    block css
  body(data-spy='scroll', data-target='.bs-docs-sidebar', data-offset='50')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') OSID Hackathon
          .nav-collapse.collapse
            ul.nav
              block navbarTitles
                li
                  a(href='#') Home
                li
                  a(href='/about') About
    .container(style='position:relative;min-height:400px;')
      block content
      br
  footer.footer 
    p(style='text-align:center;') Made with love using Node, express, jade and Mongoose
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.js')
    block js
